@charset "utf-8";
/*
 * 파일정의 : content.css
 * 파일설명 : content css
 * 작성자 : glim
 * 주의사항 : 주석표기는 페이지 접근방법을 알수 있도록 표시
 * 최초작성일: 2021/04/09
 * 최종수정일: 2021/04/09
*/

/**********************************************************************************
** swiper
***********************************************************************************/
/* 쇼마트 */
.swiper-container.show-mart .swiper-wrapper .swiper-slide{width: 146px; height: auto;}
.swiper-container.show-mart .prod-item .info-box{margin-top: 11px;}
.swiper-container.show-mart .prod-item .info-box .prod-name{font-size: 14px; line-height: 18px; height: 36px; max-height: 36px; color: #111;}
.swiper-container.show-mart .prod-item .info-box .prod-price{margin-top: 9px;}
.swiper-container.show-mart .prod-item .info-box .prod-price .discount-price .percent,
.swiper-container.show-mart .prod-item .info-box .prod-price .discount-price .price .val,
.swiper-container.show-mart .prod-item .info-box .prod-price .discount-price .price .unit{font-size: 16px;}
.swiper-container.show-mart .prod-item .info-box .prod-price .discount-price .price .unit{font-size: 13px;}
.swiper-container.show-mart .prod-item .info-box .prod-price .price-normal .val{font-size: 16px;}
.swiper-container.show-mart .prod-item .info-box .prod-price .price-normal .unit{font-size: 13px; margin-top: 2px;}
.swiper-container.show-mart .prod-item .info-box .prod-btn{margin-top: 14px;}

/* 추천상품 */
.related-prod .swiper-container{}
.related-prod .swiper-slide{width: 220px; margin-right: 25px;}

/* 베스트/TV쇼핑 카테고리 리스트 */
.category-menu-wrap{position: relative;/* padding-top: 122px;*/}
.category-menu-wrap + .prod-list{margin-top: 56px;}
.category-menu-wrap .category-swiper{width: 1200px; padding: 0 48px; background-color: #fff;}
.category-menu-wrap .category-swiper .category-list .category-item{width: 94px; height: auto; text-align: center;}
.category-menu-wrap .category-swiper .category-list .category-item .btn-category{display: inline-flex; flex-direction: column; height: 100%; width: 100%;}
.category-menu-wrap .category-swiper .category-list .category-item .img-box{position: relative; overflow: hidden; display: block; width: 80px; height: 80px; margin: 0 auto; padding: 15px; border: 1px solid #eee; background-color: #f5f5f5; border-radius: 100%; text-align: center; transition: border-color 0.23s, background-color 0.23s; -webkit-transition: border-color 0.23s, background-color 0.23s;}
.category-menu-wrap .category-swiper .category-list .category-item .img-box img{display: block; width: 100%;}
.category-menu-wrap .category-swiper .category-list .category-item.is-active .img-box{border-color: #000; background-color: #fff;}
.category-menu-wrap .category-swiper .category-list .category-item .name{overflow: hidden; position: relative; width: 100%; height: 42px; margin-top: 13px; font-size: 15px; letter-spacing: -1px; color: #333; line-height: 21px; text-align: center; word-break: break-all; word-wrap: break-word; display: block; /* Fallback for non-webkit */ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-clamp: 2; text-overflow: -o-ellipsis-lastline; white-space: normal;}
.category-menu-wrap .category-swiper .swiper-button-next:before, .category-menu-wrap .category-swiper .swiper-button-prev:before{top: 26px; transform: translateY(0);}
.ptitle + .category-scroll-fixed{margin-top: -24px;}
.category-scroll-fixed{position: relative; padding-top: 183px;}
.category-scroll-fixed .category-menu-wrap{padding: 24px 0; background: #fff;}
.category-scroll-fixed .category-menu-wrap.sps-abv{width: 1200px; min-width: 1200px;}
.category-scroll-fixed .category-menu-wrap.sps-blw{border-bottom: 1px solid #e5e5e5;}


/* 기획전 swiper */
.plan-banner-wrap{margin-bottom: 52px;}
.plan-banner-wrap .plan-banner-list{}
.plan-banner-wrap .plan-banner-list .list-item{width: 464px; margin-right: 24px;}
.plan-banner-wrap .plan-banner-list .list-item .plan-link{display: block; border-radius: 8px; overflow: hidden;}
.plan-banner-wrap .plan-banner-list .list-item .plan-link img{display: block; width: 100%;}
.plan-banner-wrap.col2{margin-bottom: 0;}
.plan-banner-wrap.col2 .plan-banner-list .list-item{width: 584px; margin-right: 32px;}
.plan-banner-wrap.col2 .plan-banner-list .list-item:last-child{margin-right: 0;}
.plan-banner-wrap .swiper-button-next, .plan-banner-wrap .swiper-button-prev{top: 50%; transform: translateY(-50%);}
.plan-banner-wrap.outside-nav.size-sm{margin-bottom: 38px;}
.plan-banner-wrap.outside-nav.size-sm .swiper-button-next, .plan-banner-wrap.outside-nav.size-sm .swiper-button-prev, .plan-banner-wrap.outside-nav.size-sm .btn-control{top: 0; transform: translateY(0);}
.plan-banner-wrap.outside-nav.size-sm.is-active{padding-top: 55px; margin-top: -20px;}

/* 쇼마트 */
.search-prod-box ~ .aside-container{margin-top: 57px;}

/* 게시판 */
.board-list-wrap .board-title{display: flex; justify-content: space-between; align-items: center; margin-top: 50px; padding-bottom: 24px; border-bottom: 2px solid #000;}
.board-list-wrap .board-title .ptitle{margin: 0;}
.board-list-wrap .board-list{}
.board-list-wrap .board-list .item{display: flex; align-items: center; height: 60px; padding: 0 24px; border-bottom: 1px solid #e5e5e5;}
.board-list-wrap .board-list .item .list-num{flex: 0 1 30px; display: block; margin-right: 28px; font-size: 15px; font-weight: 700; color: #333;}
.board-list-wrap .board-list .item .list-title{flex: 1; display: block; font-size: 0; overflow: hidden;}
.board-list-wrap .board-list .item .list-title .btn-link{display: inline-block; max-width: 100%; vertical-align: top;}
.board-list-wrap .board-list .item .list-title.new .btn-link{position: relative; padding-right: 10px;}
.board-list-wrap .board-list .item .list-title.new .new{position: absolute; top: 0; right: 0; display: block; width: 4px; height: 4px; background-color: #f50d87; border-radius: 100%;}
.board-list-wrap .board-list .item .list-title .title{overflow: hidden; display: block; font-size: 15px; letter-spacing: -1px; color: #333; text-overflow: ellipsis; white-space: nowrap;}
.board-list-wrap .board-list .item .list-date{flex: 0 0 130px; display: block; margin-left: auto; font-size: 15px; color: #777; text-align: right;}
.board-list-wrap .no-data{border-bottom: 1px solid #e5e5e5;}

.board-detail-wrap{margin-top: 37px;}
.board-detail-wrap .board-detail-header{display: flex; align-items: center; justify-content: space-between; padding: 20px 0; border-top: 1px solid #000;}
.board-detail-wrap .board-detail-header .header-title .ptitle{margin: 0;}
.board-detail-wrap .board-detail-header .header-title .detail-date-info{margin-top: 8px; font-size: 0;}
.board-detail-wrap .board-detail-header .header-title .detail-date-info li{display: inline-block; font-size: 0; color: #999; vertical-align: top;}
.board-detail-wrap .board-detail-header .header-title .detail-date-info li ~ li:before{content: ''; display: inline-block; width: 1px; height: 10px; margin: 6px 8px 0 9px; background-color: #e5e5e5; vertical-align: top;}
.board-detail-wrap .board-detail-header .header-title .detail-date-info li .info-title,
.board-detail-wrap .board-detail-header .header-title .detail-date-info li .info-date{display: inline-block; vertical-align: top; line-height: 20px;}
.board-detail-wrap .board-detail-header .header-title .detail-date-info li .info-title{font-size: 14px; letter-spacing: -0.93px;}
.board-detail-wrap .board-detail-header .header-title .detail-date-info li .info-date{margin-left: 3px; font-size: 14px;}
.board-detail-wrap .board-detail-header .btn-event-detail{min-width: 120px; height: 36px; padding: 6px 12px 0; border: 1px solid #e5e5e5; border-radius: 18px; font-size: 14px; color: #333; letter-spacing: -1.08px; text-align: center;}
.board-detail-wrap .board-detail-header .btn-event-detail .text{position: relative;}
.board-detail-wrap .board-detail-cont{padding-top: 40px; border-top: 1px solid #eee;}
.board-detail-wrap .board-detail-cont .winner-result-box{display: flex; justify-content: center; align-items: center; height: 88px; margin-top: 40px; padding: 26px 30px; border-radius: 6px; background-color: #f5f5f5;}
.board-detail-wrap .board-detail-cont .winner-result-box.align-both{justify-content: space-between;}
.board-detail-wrap .board-detail-cont .winner-result-box .desc{font-size: 16px; letter-spacing: -1.14px; color: #333;}
.board-detail-wrap .board-detail-cont .winner-result-box .btn-wrap{margin-left: auto;}
.board-detail-wrap .board-detail-cont .winner-result-box i{margin-right: 12px;}
.board-detail-wrap .board-detail-cont .winner-result-box .desc .fc-red{color: #c80064; font-weight: 700;}
.board-detail-wrap .board-detail-cont .winner-result-box .desc .fc-sky{color: #4a92e2; font-weight: 700;}
.board-detail-wrap .board-detail-cont .tbl-info-col{margin-top: 40px;}
.board-detail-wrap .board-footer-control{margin-top: 100px;}
.board-detail-wrap .board-footer-control .ctr-col { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: space-between; flex-wrap: wrap; font-size: 15px; letter-spacing: -1px; line-height: 22px;}
.board-detail-wrap .board-footer-control .ctr-col + .ctr-col{border-top: 1px solid #eee; margin-top: 16px; padding-top: 16px;}
.board-detail-wrap .board-footer-control .ctr-col .ctr-title { color: #999; }
.board-detail-wrap .board-footer-control .ctr-col .btn-link,
.board-detail-wrap .board-footer-control .ctr-col .desc { flex: 1; padding-left: 24px; }
.board-detail-wrap .board-footer-control .ctr-col .btn-link { overflow: hidden; color: #333; text-overflow: ellipsis; white-space: nowrap; }
.board-detail-wrap .board-footer-control .ctr-col .desc  { color: #777; }
.board-detail-wrap > .btn-wrap{margin-top: 60px;}

.gray-guide-box{padding: 24px 42px; background-color: #fafafa; border-radius: 6px;}
.gray-guide-box .desc{font-size: 16px; line-height: 24px; letter-spacing: -1px; color: #333; text-align: center;}
.gray-guide-box + .atctitle{margin-top: 36px;}

.agree-check-wrap .agree-check-header { padding: 24px 0 16px; border-bottom: 1px solid #eee; }
.agree-check-wrap .agree-check-header .agree-check-box { position: relative; padding-right: 30px;}
.agree-check-wrap .agree-check-header .agree-check-box .ui-chk input+label { color: #555; }
.agree-check-wrap .agree-check-header .btn-fold-toggle { position: absolute; width: 40px; height: 40px; top: 50%; right: 0; transform: translateY(-50%); }
.agree-check-wrap .agree-check-content { border-bottom: 1px solid #eee; }
.agree-check-wrap .agree-check-content .agree-check-list { padding: 6px 0; }
.agree-check-wrap .agree-check-content .agree-check-list .agree { padding: 10px 0; }
.agree-check-wrap .agree-check-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.agree-check-wrap .agree-check-content .agree-check-list .agree .agree-check .ui-chk { flex: 1; padding-right: 16px; }
.agree-check-wrap .agree-check-box .ui-chk input+label { color: #777; }
.agree-check-wrap .agree-check-content .agree-check-list .agree-check-box ~ .agree-desc { margin-top: 8px; }
.agree-check-wrap .agree-check-content .agree-check-list .agree-desc { padding-left: 31px; color: #999; font-size: 13px; line-height: 19px; word-break: keep-all; }

.agree-check-wrap .agree-check-header .btn-fold-toggle:after{content: '';display: block; width: 16px; height: 16px; margin-left: 24px; background: url('../images/ui/ui_ico_fold_off.svg') 0 0 / 100% no-repeat;}
.agree-check-wrap.is-active .agree-check-header .btn-fold-toggle:after{background: url('../images/ui/ui_ico_fold_on.svg') 0 0 / 100% no-repeat;}

.agree-check-wrap.fold-chk-wrap .agree-check-content {display: none;}
.agree-check-wrap.fold-chk-wrap.is-active .agree-check-content {display: block;}

/**********************************************************************************
** list
***********************************************************************************/
/* 정기배송 리스트 */
.term-delivery-list{}
.term-delivery-list .list-item{position: relative;}
.term-delivery-list .list-item + .list-item{margin-top: 56px;}
.term-delivery-list .list-item .list-link{position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%;}
.term-delivery-list .list-item .img-box{overflow: hidden; position: relative; display: block;}
.term-delivery-list .list-item .img-box img{display: block; width: 100%;}
.term-delivery-list .list-item .info-box{display: block; padding: 16px 16px 0;}
.term-delivery-list .list-item .info-box .prod-detail{display: flex; justify-content: space-between; margin-top: 12px;}
.term-delivery-list .list-item .info-box .prod-detail .prod-price{flex: 1; display: block;}
.term-delivery-list .list-item .info-box .prod-detail .prod-price .delivery-condition{display: block; font-size: 13px; color: #777; line-height: 16px;}
.term-delivery-list .list-item .info-box .prod-detail .prod-price .price-normal{display: block; margin-top: 5px; font-size: 0;}
.term-delivery-list .list-item .info-box .prod-detail .prod-price .price-normal .val,
.term-delivery-list .list-item .info-box .prod-detail .prod-price .price-normal .unit{display: inline-block; font-size: 22px; font-weight: 700; vertical-align: top; color: #000;}
.term-delivery-list .list-item .info-box .prod-detail .prod-price .price-normal .unit{margin-top: 5px; font-size: 15px;}
.term-delivery-list .list-item .info-box .prod-detail .btn-delivery{flex-shrink: 0; display: block; align-self: flex-end; z-index: 1;}

/* tv쇼핑 리스트 */
.tv-shopping-list{display: flex; flex-wrap: wrap;}
.tv-shopping-list .list-item{width: calc((100% - 32px) / 2); height: auto;}
.tv-shopping-list .list-item:nth-child(2n){margin-left: 32px;}
.tv-shopping-list .list-item:nth-child(n+3){margin-top: 56px;}
.tv-shopping-list .list-item .prod-item .img-box {
    overflow: hidden;
    position: relative;
    display: block;
    height: 328px;
    background: #f5f5f5;
}
.tv-shopping-list .list-item .prod-item .img-box img {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%,0);
}
.tv-shopping-list .list-item .prod-item .img-box .broadcast-time-count{position: absolute; top: 0; left: 0; bottom: 0; display: block; width: 100%; height: 100%; font-size: 16px; font-weight: 700; color: #fff; text-align: center;}
.tv-shopping-list .list-item .prod-item .img-box .broadcast-time-count:before{content: ''; position: relative; display: block; width: 80px; height: 80px; padding-top: 190px; margin: 0 auto 6px; background: url('../images/main/ico_onair_timecount.svg') bottom center / 100% no-repeat; z-index: 2;}
.tv-shopping-list .list-item .prod-item .img-box .broadcast-time-count:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #000000));
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='rgba(0, 0, 0, .4)', gradientType=0);*/
}
.tv-shopping-list .list-item .prod-item .img-box .broadcast-time-info{position: absolute; bottom: 20px; left: 21px; height: 28px; background-color: rgba(0, 0, 0, .5); border-radius: 18px; font-size: 0;}
.tv-shopping-list .list-item .prod-item .img-box .broadcast-time-info .badge{display: inline-block; width: 68px; height: 100%; background: url('../images/main/badge_broadcast.svg') 0 0 / 100% no-repeat; vertical-align: top; transform: translateX(-1px);}
.tv-shopping-list .list-item .prod-item .img-box .broadcast-time-info .val{display: inline-block; padding: 6px 15px 0 6px; font-size: 14px; font-weight: 700; color: #fff; line-height: 1; vertical-align: top;}
.tv-shopping-list .list-item .prod-item .img-box .broadcast-time-info.on-air{}
.tv-shopping-list .list-item .prod-item .img-box .broadcast-time-info.on-air .badge{background: url('../images/main/badge_onair.svg') 0 0 / 100% no-repeat;}
.tv-shopping-list .list-item .prod-item .info-box{margin-top: 0; padding-top: 14px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-name{height: auto; max-height: 48px; font-size: 18px; line-height: 24px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-price{font-size: 0; margin-top: 15px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-price .discount-price,
.tv-shopping-list .list-item .prod-item .info-box .prod-price .price-normal{display: inline-block; vertical-align: top;}
.tv-shopping-list .list-item .prod-item .info-box .prod-price .discount-price{margin-right: 4px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-price .discount-price .percent,
.tv-shopping-list .list-item .prod-item .info-box .prod-price .discount-price .price .val{font-size: 24px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-price .discount-price .price .unit{margin-top: 4px; font-size: 15px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-price .discount-price + .price-normal .val{font-size: 15px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-price .discount-price + .price-normal .unit{margin-top: 2px; font-size: 12px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-price .price-normal{margin-top: 4px;}
.tv-shopping-list .list-item .prod-item .info-box .prod-row-box{display: block; margin-top: 10px; font-size: 0;}
.tv-shopping-list .list-item .prod-item .info-box .prod-row-box .prod-save{}
.tv-shopping-list .list-item .prod-item .info-box .prod-review{display: inline-block; margin-right: 7px; margin-top: 0; vertical-align: top;}
.tv-shopping-list .list-item .prod-item .info-box .prod-save{display: inline-block; margin-top: 0; vertical-align: top;}
.tv-shopping-list .list-item .prod-item .info-box .prod-benefit{margin-top: 7px;}

/* 쇼핑엔딜 리스트 */
.shopping-deal-list{display: flex; flex-wrap: wrap;}
.shopping-deal-list .list-item{width: calc((100% - 32px) / 2);}
.shopping-deal-list .list-item:nth-child(2n){margin-left: 32px;}
.shopping-deal-list .list-item:nth-child(n+3){margin-top: 52px;}
.shopping-deal-list .list-item .list-link{display: block;}
.shopping-deal-list .list-item .img-box{overflow: hidden; position: relative; display: block; border-radius: 8px;}
.shopping-deal-list .list-item .img-box img{display: block; width: 100%;}
.shopping-deal-list .list-item .img-box .deal-time-count{position: absolute; left: 21px; bottom: 20px; height: 28px; border-radius: 18px; background: rgba(0, 0, 0, .5); font-size: 0;}
.shopping-deal-list .list-item .img-box .deal-time-count .badge{display: inline-block; width: 76px; height: 100%; background: #fff url('../images/main/badge_shopping_deal.svg') 0 0 / 100% no-repeat; border-radius: 18px; vertical-align: top; transform: translateX(-1px);}
.shopping-deal-list .list-item .img-box .deal-time-count .time-count{display: inline-block; padding: 3px 12px 0 6px; vertical-align: top; font-size: 0;}
.shopping-deal-list .list-item .img-box .deal-time-count .time-count .val,
.shopping-deal-list .list-item .img-box .deal-time-count .time-count .text{display: inline-block; font-size: 13px; color: #fff; vertical-align: top;}
.shopping-deal-list .list-item .img-box .deal-time-count .time-count .val{font-weight: 700; font-size: 14px;}
.shopping-deal-list .list-item .img-box .deal-time-count .time-count .text{margin-top: 1px;}
.shopping-deal-list .list-item .img-box .deal-time-count .time-count .text:first-child{margin-right: 3px;}
.shopping-deal-list .list-item .img-box .btn-wish{position: absolute; right: 16px; bottom: 12px;}
.shopping-deal-list .list-item .info-box{display: block; padding-top: 16px;}
.shopping-deal-list .list-item .info-box .prod-name{display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 18px; line-height: 20px; letter-spacing: -1px; color: #000;}
.shopping-deal-list .list-item .info-box .prod-detail{display: flex; justify-content: space-between; margin-top: 17px;}
.shopping-deal-list .list-item .info-box .prod-detail .discount-price{display: block; flex: 1; margin-right: 9px; font-size: 0;}
.shopping-deal-list .list-item .info-box .prod-detail .discount-price .percent, .shopping-deal-list .list-item .info-box .prod-detail .discount-price .price{display: inline-block; font-size: 24px; font-weight: 700; vertical-align: top;}
.shopping-deal-list .list-item .info-box .prod-detail .discount-price .percent{margin-right: 5px; color: #f50d87;}
.shopping-deal-list .list-item .info-box .prod-detail .discount-price .price{font-size: 0}
.shopping-deal-list .list-item .info-box .prod-detail .discount-price .price .val, .shopping-deal-list .list-item .info-box .prod-detail .discount-price .price .unit{display: inline-block; font-size: 24px; vertical-align: top;}
.shopping-deal-list .list-item .info-box .prod-detail .discount-price .price .unit{margin-top: 3px; font-size: 15px;}
.shopping-deal-list .list-item .info-box .prod-detail .order-count{position: relative; align-self: flex-end; transform: translateY(-5px);}
.shopping-deal-list .list-item .info-box .prod-detail .order-count.new{display: block; font-size: 15px; font-weight: 700; color: #f50d87;}
.shopping-deal-list .list-item .info-box .prod-detail .order-count .val{font-size: 14px; letter-spacing: -1px; color: #444;}
.shopping-deal-list .list-item .info-box .prod-detail .order-count .soldout-msg{position: absolute; right: -8px; bottom: -37px; display: block; width: 170px; height: 38px; background: url('../images/main/soldout_msg.svg') 0 0 / 100% no-repeat; animation: soldoutMsgBlinkMotion 2.2s infinite;}
@keyframes soldoutMsgBlinkMotion {0% {opacity: 0;} 10%{opacity: 1;} 90%{opacity: 1;} 100% {opacity: 0;}}

/* 쇼타임딜 리스트 */
.time-deal-list{font-size: 0;}
.time-deal-list .list-item{display: inline-block; width: calc((100% - 32px) / 2); vertical-align: top;}
.time-deal-list .list-item:nth-child(2n){margin-left: 32px;}
.time-deal-list .list-item:nth-child(n+3){margin-top: 58px;}
.time-deal-list .list-item .list-link{display: block; width: 100%; text-align: left;}
.time-deal-list .list-item .img-box{overflow: hidden; position: relative; display: block;padding-top: 56.11%;background: #f5f5f5; border-radius: 8px;}
.time-deal-list .list-item .img-box img { display: block; position: absolute; top:0; left: 50%; width: auto; height: 100%; transform: translate( -50%, 0);}
.time-deal-list .list-item .img-box .deal-schedule{overflow: hidden; display: flex; flex-direction: column; align-items: center; justify-content: center; position: absolute; top: 50%; left: 50%; width: 120px; height: 120px; background: rgba(18, 134, 224, .8); border-radius: 100%; transform: translate(-50%, -50%);}
.time-deal-list .list-item .img-box .deal-schedule .time,
.time-deal-list .list-item .img-box .deal-schedule .text{display: block; font-size: 18px; font-weight: 700; text-align: center; color: #fff;}
.time-deal-list .list-item .img-box .deal-schedule .time:before{content: ''; display: inline-block; width: 16px; height: 16px; margin: 4px 1px 0 0; background: url('../images/main/ico_timedeal_schedule.svg') 0 0 / 100% no-repeat; vertical-align: top;}
.time-deal-list .list-item .img-box .deal-schedule .text{margin-top: 6px;}
.time-deal-list .list-item .img-box.no-sale:before{ z-index: 1;content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .5;}
.time-deal-list .list-item .img-box.no-sale .deal-schedule{z-index: 2; border: 1px solid #fff; background: transparent;}
.time-deal-list .list-item .img-box.no-sale .deal-schedule .time{}
.time-deal-list .list-item .img-box.no-sale .deal-schedule .time .day{font-size: 15px;}
.time-deal-list .list-item .img-box.no-sale .deal-schedule .time:before{content: none;}
.time-deal-list .list-item .img-box.adult{}
.time-deal-list .list-item .img-box.adult:before{content: ''; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: #f5f5f5; opacity: 1;}
.time-deal-list .list-item .img-box.adult:after{content: ''; position: absolute; top: 13px; right: 12px; display: block; width: 50px; height: 50px; /*background: url('../images/main/ico_adult_prod_sm.png') 0 0 / 100% no-repeat;*/}
.time-deal-list .list-item .img-box .deal-time-count{position: absolute; left: 13px; bottom: 12px; height: 28px; border-radius: 14px; background: rgba(18, 134, 224, .9); font-size: 0;}
.time-deal-list .list-item .img-box .deal-time-count .badge{display: inline-block; width: 76px; height: 100%; background: #fff url('../images/main/badge_time_deal.svg') 0 0 / 100% no-repeat; border-radius: 14px; vertical-align: top; transform: translateX(-1px);}
.time-deal-list .list-item .img-box .deal-time-count .time-count{display: inline-block; padding: 5px 12px 0 6px; vertical-align: top; font-size: 0;}
.time-deal-list .list-item .img-box .deal-time-count .time-count .discount-val,
.time-deal-list .list-item .img-box .deal-time-count .time-count .text{display: inline-block; color: #fff; vertical-align: top;}
.time-deal-list .list-item .img-box .deal-time-count .time-count .discount-val{font-size: 0; margin: 1px 2px 0 0;}
.time-deal-list .list-item .img-box .deal-time-count .time-count .discount-val .val,
.time-deal-list .list-item .img-box .deal-time-count .time-count .discount-val .unit{display: inline-block; vertical-align: top; font-weight: 700; line-height: 1;}
.time-deal-list .list-item .img-box .deal-time-count .time-count .discount-val .val{font-size: 15px;}
.time-deal-list .list-item .img-box .deal-time-count .time-count .discount-val .unit{font-size: 14px;}
.time-deal-list .list-item .img-box .deal-time-count .time-count .text{font-size: 13px;}
.time-deal-list .list-item .info-box{position: relative; display: block; padding-top: 18px;}
.time-deal-list .list-item .info-box .prod-name{display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 18px; line-height: 20px; letter-spacing: -1px; color: #000;}
.time-deal-list .list-item .info-box .prod-detail{display: block; margin-top: 13px; font-size: 0;}
.time-deal-list .list-item .info-box .prod-detail .fc-spot{display: inline-block; margin: 6px 6px 0 0; font-size: 14px; vertical-align: top;}
.time-deal-list .list-item .info-box .prod-detail .discount-price{display: inline-block; margin-right: 6px; font-size: 0; vertical-align: top;}
/*.time-deal-list .list-item .info-box .prod-detail .fc-spot ~ .discount-price{margin-right: 9px;}*/
.time-deal-list .list-item .info-box .prod-detail .discount-price .percent, .time-deal-list .list-item .info-box .prod-detail .discount-price .price{display: inline-block; font-size: 22px; font-weight: 600; vertical-align: top;}
.time-deal-list .list-item .info-box .prod-detail .discount-price .percent{margin-right: 4px; color: #f50d87;}
.time-deal-list .list-item .info-box .prod-detail .discount-price .price{font-size: 0}
.time-deal-list .list-item .info-box .prod-detail .discount-price .price .val, .time-deal-list .list-item .info-box .prod-detail .discount-price .price .unit{display: inline-block; vertical-align: top; line-height: 1;}
.time-deal-list .list-item .info-box .prod-detail .discount-price .price .val{font-weight: 700; font-size: 24px;}
.time-deal-list .list-item .info-box .prod-detail .discount-price .price .unit{margin-top: 8px; font-size: 14px;}
.time-deal-list .list-item .info-box .prod-detail .price-normal{display: inline-block; margin-top: 6px; font-size: 0; vertical-align: top;}
.time-deal-list .list-item .info-box .prod-detail .price-normal .val, .time-deal-list .list-item .info-box .prod-detail .price-normal .unit{display: inline-block; font-size: 18px; font-weight: 600; vertical-align: top; color: #111;}
.time-deal-list .list-item .info-box .prod-detail .price-normal .unit{font-size: 14px; margin-top: 3px;}
.time-deal-list .list-item .info-box .prod-detail .discount-price + .price-normal .val{font-size: 15px; font-weight: 700; color: #bfbfbf; text-decoration: line-through;}
.time-deal-list .list-item .info-box .prod-detail .discount-price + .price-normal .unit{margin-top: 2px; font-weight: 700; font-size: 13px; color: #bfbfbf; text-decoration: line-through;}

/* 이벤트 리스트 */

/* 검색 상품후기, 상품상세 상품평 포토상품 */
.review-photo-list .swiper-wrapper .swiper-slide{width: 80px;}
.review-photo-list .btn-review-detail{position: relative;}
.review-photo-list .btn-review-detail .img-box{position: relative; display: block;}
.review-photo-list .btn-review-detail .img-box .inner{overflow: hidden; position: relative; display: block; border-radius: 4px;}
.review-photo-list .btn-review-detail .img-box .inner img{display: block; width: 100%;}
.review-photo-list .btn-review-detail.video:before{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 30px; height: 30px; background: #ff3399; z-index: 1;}
.review-photo-list .btn-review-detail .img-box .inner .thumb-count{position: absolute; right: 3px; bottom: 3px; display: block; width: 28px; height: 28px; background-color: rgba(0, 0, 0, .4); font-size: 14px; font-weight: 700; color: #fff; line-height: 28px; text-align: center; border-radius: 4px;}
.review-photo-list .btn-more-photo{display: flex; width: 100%; height: 80px; align-items: center; justify-content: center; background-color: #efefef; border-radius: 4px; font-size: 13px; color: #555;}
.review-photo-list.prod-detail .photo-list{display: flex; flex-wrap: wrap; justify-content: space-between;}
.review-photo-list.prod-detail .photo-list .photo-item{width: calc((100% - 4px) / 3);}

/* 메인 실시간 인기검색어 상품 */
.popular-prod-wrap .popular-prod-list{display: flex; justify-content: space-between;}
.popular-prod-wrap .popular-prod-list .list-item{width: calc((100% - 8px - 88px) / 2);}
.popular-prod-wrap .popular-prod-list .list-item .prod-item .info-box{position: absolute; bottom: 0; left: 0; width: 100%; padding: 11px 5px 11px 10px; margin-top: 0;}
.popular-prod-wrap .popular-prod-list .list-item .prod-item .info-box .prod-name{max-height: 14px; height: 14px; line-height: 1; -webkit-line-clamp: 1; line-clamp: 1; font-size: 14px; font-weight: 700; color: #fff;}
.popular-prod-wrap .popular-prod-list .list-item .prod-item .info-box .prod-price{margin-top: 5px;}
.popular-prod-wrap .popular-prod-list .list-item .prod-item .info-box .prod-price .price-normal .val{font-weight: 700; font-size: 14px; color: #fff;}
.popular-prod-wrap .popular-prod-list .list-item .prod-item .info-box .prod-price .price-normal .unit{font-weight: 700; font-size: 11px; color: #fff;}
.popular-prod-wrap .popular-prod-list .list-item.btn-more{width: 88px;}
.popular-prod-wrap .popular-prod-list .list-item.btn-more .more-link{display: flex; flex-direction: column; height: 100%; align-items: center; justify-content: center; background-color: #fff; border-radius: 8px;}
.popular-prod-wrap .popular-prod-list .list-item.btn-more .more-link .keyword{}
.popular-prod-wrap .popular-prod-list .list-item.btn-more .more-link .text,
.popular-prod-wrap .popular-prod-list .list-item.btn-more .more-link .count{display: block; font-size: 14px; color: #333; letter-spacing: -0.5px;}
.popular-prod-wrap .popular-prod-list .list-item.btn-more .more-link .count{color: #bbb;}

/* 공지사항 */
.notice-list-wrap{}
.notice-list-wrap .notice-list{border-top: 1px solid #eee;}
.notice-list-wrap .notice-list .list-item{border-bottom: 1px solid #eee;}
.notice-list-wrap .notice-list .list-item .notice-link{display: block; padding: 16px 16px 15px;}
.notice-list-wrap .notice-list .list-item .notice-title{margin-bottom: 9px; font-size: 15px; color: #000; line-height: 19px;}
.notice-list-wrap .notice-list .list-item .info-box{display: block; font-size: 0;}
.notice-list-wrap .notice-list .list-item .info-box .notice-type,
.notice-list-wrap .notice-list .list-item .info-box .notice-date{display: inline-block; font-size: 13px; vertical-align: top; line-height: 1;}
.notice-list-wrap .notice-list .list-item .info-box .notice-type{font-weight: 700; color: #555;}
.notice-list-wrap .notice-list .list-item .info-box .notice-type:after{content: ''; display: inline-block; width: 1px; height: 10px; margin: 1px 6px 0; background-color: #bbb; vertical-align: top; opacity: .5;}
.notice-list-wrap .notice-list .list-item .info-box .notice-date{color: #999;}

/* onair상품 */
.onair-prod{position: relative; width: 596px;}
.onair-prod .img-box{overflow: hidden; width: 100%; height: 334px; border-radius: 10px 10px 0 0;}
.onair-prod .img-box img{display: block; width: 100%;}
.onair-prod .ico-on-air{position: absolute; top: 20px; left: 20px; width: 84px; height: 36px;}
.onair-prod .tt-timer{}
.onair-prod .tt-timer { position: relative; display: block; margin-top: 6px; padding-top: 84px; font-size: 16px; font-weight: 700; letter-spacing: 0; color: #fff; }
.onair-prod .tt-timer:before { content: ''; position: absolute; top: 0; left: 50%; transform: translate(-50%, 0); width: 76px; height: 76px; background-image: url('../images/main/ico_onair_timecount_sm.svg'); z-index: 1;}
.onair-prod .video-box{height: 334px; border-radius: 10px 10px 0 0;}
.onair-prod .video-box .btn-video-play{background: none;}
.onair-prod .video-box .btn-video-play:before{content: none;}
.onair-prod .video-box .btn-video-play:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .5; transform: none; background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2) 71%, rgba(34, 34, 34, 0.59) 86%, #333333); background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2) 71%, rgba(34, 34, 34, 0.59) 86%, #333333); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2) 71%, rgba(34, 34, 34, 0.59) 86%, #333333);}
.onair-prod .program-box{padding: 15px 19px 16px 24px; background-color: #fff; border: 1px solid rgba(204, 204, 204, 0.7); border-top: none; border-radius: 0 0 10px 10px;}
.onair-prod .program-box .info-box{display: flex; justify-content: space-between}
.onair-prod .program-box .info-box .info-inner{flex: 1; overflow: hidden;}
.onair-prod .program-box .info-box .prod-name{width: 100%; overflow: hidden; font-size: 18px; letter-spacing: -1px; white-space: nowrap; text-overflow: ellipsis; line-height: 22px;}
.onair-prod .program-box .info-box .prod-name .tv-shopping{color: #f50d87;}
.onair-prod .program-box .info-box .prod-price{margin-top: 10px; font-size: 0;}
.onair-prod .program-box .info-box .prod-price .val,
.onair-prod .program-box .info-box .prod-price .unit{display: inline-block; vertical-align: top;}
.onair-prod .program-box .info-box .prod-price .val{font-size: 26px; font-weight: 700;}
.onair-prod .program-box .info-box .prod-price .unit{margin: 5px 0 0 2px; font-size: 16px;}
.onair-prod .program-box .info-box .prod-btn{position: relative; margin: 3px 0 0 32px; z-index: 1;}
.onair-prod .program-box .info-box .prod-btn .btn-lg{height: 50px; width: 160px; min-width: 160px;}
.onair-prod .prod-link{position: absolute; top: 0; left: 0; right: 0; bottom: 0;}

.tvshopping-onair-wrap{display: flex; margin-bottom: 52px;}
.tvshopping-onair-wrap .plan-banner{width: 332px; margin-left: 24px;}
.tvshopping-onair-wrap .onair-prod{flex: 1;}
.tvshopping-onair-wrap .onair-prod.has-related .img-box{border-radius: 10px 0 0 0;}
.tvshopping-onair-wrap .onair-prod.has-related .program-box{border-radius: 0 0 0 10px; border-right-color: #eee;}
.tvshopping-onair-wrap .onair-prod .img-box{position: relative;}
.tvshopping-onair-wrap .onair-prod .img-box .tt-timer{position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-top: 0;text-align: center; margin-top: 0;}
.tvshopping-onair-wrap .onair-prod .img-box .tt-timer:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .5; transform: none; background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2) 71%, rgba(34, 34, 34, 0.59) 86%, #333333); background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2) 71%, rgba(34, 34, 34, 0.59) 86%, #333333); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2) 71%, rgba(34, 34, 34, 0.59) 86%, #333333);}
.tvshopping-onair-wrap .onair-prod .img-box .tt-timer:before{position: relative; left: 0; display: block; margin: 120px auto 8px; transform: none;}
.tvshopping-onair-wrap .onair-related-prod{width: 356px; padding: 28px 25px 36px 24px; border: 1px solid rgba(204, 204, 204, 0.7); border-left: none; border-radius: 0 10px 10px 0;}
.tvshopping-onair-wrap .onair-related-prod .sctitle{margin-bottom: 35px;font-size: 16px; font-weight: 700; letter-spacing: -1px; color: #000; line-height: 20px;}
.tvshopping-onair-wrap .onair-related-prod .swiper-slide{margin-right: 0;}
.tvshopping-onair-wrap .onair-related-prod .swiper-slide .prod-item{height: auto;}
.tvshopping-onair-wrap .onair-related-prod .swiper-slide .prod-item + .prod-item{margin-top: 16px;}
.tvshopping-onair-wrap .outside-nav.size-xsm .swiper-button-next, .tvshopping-onair-wrap .outside-nav.size-xsm .swiper-button-prev{top: -59px;}




/**********************************************************************************
** fold
***********************************************************************************/
.fold-list-wrap .fold-list{border-top: 1px solid #eee;}
.fold-list-wrap .fold-list .list-item{border-bottom: 1px solid #eee;}
.fold-list-wrap .fold-list .list-item .fold-header{position: relative; display: flex; padding: 20px 24px 18px 0; word-break: keep-all; word-wrap: break-word;}
.fold-list-wrap .fold-list .list-item .fold-header .fold-title{display: block; font-size: 15px; line-height: 19px; color: #333; font-weight: 700;}
.fold-list-wrap .fold-list .list-item .fold-header .btn-fold-toggle{position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; text-align: left;}
.fold-list-wrap .fold-list .list-item .fold-header .btn-fold-toggle:after{content: ''; position: absolute; width: 16px; height: 16px; top: 50%; right: 0;background: url('../images/ui/ui_ico_fold_off.svg') 0 0 / 100% no-repeat; transform: translateY(-50%);}
.fold-list-wrap .fold-list .list-item .fold-content{display: none;overflow: hidden;}
.fold-list-wrap .fold-list .list-item.is-active .fold-header .btn-fold-toggle:after{background: url('../images/ui/ui_ico_fold_on.svg') 0 0 / 100% no-repeat;}
.fold-list-wrap .fold-list .list-item.is-active .fold-content{position: relative; display: block; padding-bottom: 24px; font-size: 15px; border-top: 1px solid #eee; line-height: 20px; color: #333; word-break: keep-all; word-wrap: break-word;}

.category-sub-list-wrap .category-sub-list { padding: 6px 16px 0; display: flex; flex-wrap: wrap; }
.category-sub-list-wrap .category-sub-list .cate-item { padding: 12px 0; width: calc(50% - 16.5px); }
.category-sub-list-wrap .category-sub-list .cate-item:nth-child(2n) { margin-left: 33px; }
.category-sub-list-wrap .category-sub-list .cate-item .btn-cate-item { display: block; font-size: 15px; line-height: 19px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.category-sub-list-wrap .swiper-container { padding-bottom: 34px; }
.category-sub-list-wrap .swiper-container .swiper-pagination-bullets { bottom: 16px; }

/* qna */
.fold-list-wrap.qna-list-wrap .fold-list{border-top: none;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header{display: block; padding: 26px 0 24px;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item .fold-header .btn-fold-toggle{}
.fold-list-wrap.qna-list-wrap .fold-list .list-item .fold-header .btn-fold-toggle:after{content: none;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-info{font-size: 0; margin-bottom: 16px;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-info li{display: inline-block; vertical-align: top; line-height: 18px;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-info li ~ li:before{content: ''; display: inline-block; width: 1px; height: 10px; margin: 4px 6px 0; background-color: #ccc; vertical-align: top;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-info .status{font-size: 13px; color: #999; font-weight: 700;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-info .status.complete{color: #f50d87;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-info .id{font-size: 15px; color: #999;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-info .date{font-size: 13px; color: #999;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header > .prod-name{overflow: hidden; display: block; margin-bottom: 10px; font-size: 13px; color: #777; letter-spacing: -1px; white-space: nowrap; text-overflow: ellipsis;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-title{overflow: hidden; position: relative; display: flex; padding-left: 20px;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-title:before{content: ''; position: absolute; top: 2px; left: 0; display: inline-block; width: 14px; height: 14px; background: url('../images/product/ico_question.svg') 0 0 no-repeat; vertical-align: top;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-title .ico-lock{flex-shrink: 0; margin: 2px 0 0 4px;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-title .text{overflow: hidden; max-width: 100%; font-size: 15px; line-height: 20px; color: #333; white-space: nowrap; text-overflow: ellipsis; letter-spacing: -0.5px;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .question-title .qtype{display: inline-block; margin-right: 2px; font-size: 15px; color: #333; font-weight: 700; vertical-align: top; line-height: 18px; transform: translateY(1px);}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .prod-item{margin: 12px 0 7px;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item:not(.is-active) .fold-header .prod-item .img-box,
.fold-list-wrap.qna-list-wrap .fold-list .list-item:not(.is-active) .fold-header .prod-item .info-box .prod-option,
.fold-list-wrap.qna-list-wrap .fold-list .list-item:not(.is-active) .fold-header .prod-item .prod-link{display: none;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item:not(.is-active) .fold-header .prod-item .info-box{overflow: hidden; margin-left: 0;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item:not(.is-active) .fold-header .prod-item .info-box .prod-name{max-height: 19px; display: block; white-space: nowrap; text-overflow: ellipsis;}
.fold-list-wrap.qna-list-wrap .fold-list .fold-header .btn-fold-toggle:disabled:after{content: none;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-header .question-title{display: block;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-header .question-title .text{overflow: visible; white-space: normal;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-header .prod-item{margin-bottom: 26px;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content{border-top: none; padding: 0 0 24px;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .content-inner{padding: 20px 20px 22px; background-color: #fafafa; border-radius: 4px;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .content-inner .answer-info{font-size: 0; margin-bottom: 7px;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .content-inner .answer-info li{display: inline-block; font-size: 13px; color: #333; font-weight: 700; vertical-align: top;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .content-inner .answer-info li + li:before{content: ''; display: inline-block; width: 1px; height: 10px; margin: 5px 6px 0; background-color: #ccc; vertical-align: top;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .content-inner .answer-info .date{font-weight: 400; color: #999;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .content-inner .answer-desc{position: relative; padding-left: 20px; font-size: 15px; line-height: 21px; color: #333; letter-spacing: -0.5px;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .content-inner .answer-desc:before{content: ''; position: absolute; top: 3px; left: 0; display: inline-block; width: 14px; height: 14px; background: url(../images/product/ico_answer.svg) 0 0 no-repeat; vertical-align: top;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .content-inner .wating-desc{font-size: 14px; color: #999; letter-spacing: -0.47px; text-align: center; line-height: 1;}
.fold-list-wrap.qna-list-wrap .fold-list .list-item.is-active .fold-content .btn-wrap{margin-top: 16px;}
.qna-contents-wrap .paging{margin-top: 32px;}


/**********************************************************************************
** 검색
***********************************************************************************/
/* 검색 상품후기, 상품상세 상품평 포토상품 */

.review-photo-list:not(.swiper-container) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
}
.review-photo-list:not(.swiper-container) .photo-item {width: 156px; margin-right: 12px;}
.review-photo-list:not(.swiper-container) .btn-review-detail .img-box {border-radius: 6px;}
.review-photo-list:not(.swiper-container) .btn-item {width: 112px; border-radius: 6px;}

.review-photo-list.swiper-container .photo-list .photo-item{width: 108px; height: 108px;}
.review-photo-list.swiper-container .photo-list .btn-item{width: 88px; height: auto;}
.review-photo-list .btn-review-detail{position: relative; display: block; width: 100%; height: 100%;}
.review-photo-list .btn-review-detail .img-box{position: relative; display: block; width: 100%; padding-top: 100%; overflow: hidden; border-radius: 8px; background-position: center; background-size: cover;}
.review-photo-list .btn-review-detail.video:before{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 58px; height: 58px; background: url(../images/search/bico_video_play.svg) 0 / 100% no-repeat; z-index: 1;}
.review-photo-list .btn-review-detail .img-box .thumb-count{position: absolute; right: 0; top: 0; display: block; width: 26px; height: 26px; background-color: rgba(0, 0, 0, .6); font-size: 13px; font-weight: 700; color: #fff; line-height: 26px; text-align: center; border-radius: 0 4px 0 4px;}
.review-photo-list .btn-review-all {display: flex; width: 100%; height: 100%; flex-direction: column; justify-content: flex-end; padding: 14px; background-color: #eee; border-radius: 4px; font-size: 13px; color: #555;text-align: left;}
.review-photo-list .btn-review-all .val{display: block; font-size: 14px; line-height: 20px; font-weight: 700; color: #333;}
.review-photo-list .btn-review-all .more-text{display: block; margin-top: 4px; font-size: 13px; color: #333; letter-spacing: -1px; line-height: 17px;}

.review-detail-wrap .cont-review-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 440px;
}

.review-detail-wrap .cont-review-detail .temp-review-detail { width: 360px; }
.review-detail-wrap .cont-review-detail .temp-review-detail .prod-item {  height: auto; }
.review-detail-wrap .cont-review-detail .temp-review-detail .prod-item.horizontal .img-box.size-xsm { width: 60px; height: 60px; border-radius: 4px; }
.review-detail-wrap .cont-review-detail .temp-review-detail .prod-item.horizontal .info-box { margin-left: 10px; }
.review-detail-wrap .cont-review-detail .temp-review-detail .prod-item .info-box .prod-name { font-size: 14px; line-height: 19px; color: #333; max-height: 38px; height: 38px; }
.review-detail-wrap .cont-review-detail .temp-review-detail .prod-item .info-box .prod-option { margin-top: 4px; }
.review-detail-wrap .cont-review-detail .temp-review-detail .prod-item .info-box .prod-option .item,
.review-detail-wrap .cont-review-detail .temp-review-detail .prod-item .info-box .prod-option .text { font-size: 13px; letter-spacing: -1px; }
.review-detail-wrap .cont-review-detail .temp-review-detail .prod-item .info-box .prod-option .item:after { margin-top: 4px; }
.review-detail-wrap .cont-review-detail .temp-review-detail .review-detail-list { overflow: hidden; border-radius: 10px; margin-bottom: 18px; background: #eee; }
.review-detail-wrap .cont-review-detail .photo-list .photo-item { padding-top: 100%; overflow: hidden; }
.review-detail-wrap .cont-review-detail .photo-list .photo-item img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.review-detail-wrap .cont-review-detail .info-review-detail .photo-list .photo-item .btn-thumbs {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}


.review-detail-wrap .cont-review-detail .info-review-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex: 1;
    padding-left: 32px;
    padding-right: 14px;
    /*width: 394px;*/
    width: calc( 100% - 365px );
    height: 440px;
}
.review-detail-wrap .cont-review-detail .info-review-detail .detail-info { height: 20px; margin-top: 8px; font-size: 0; min-height: 10px; }
.review-detail-wrap .cont-review-detail .info-review-detail .detail-info .id  { display: inline-block; font-size: 15px; color: #999; line-height: 20px; vertical-align: top; }
.review-detail-wrap .cont-review-detail .info-review-detail .detail-info .date { position: relative; display: inline-block; padding-left: 7px; padding-top: 2px; margin-left: 8px; font-size: 13px; color: #999; line-height: 17px; }
.review-detail-wrap .cont-review-detail .info-review-detail .detail-info .date:before { content:''; position: absolute; top: 5px; left: 0; display: block; width: 1px; height: 10px; background: #ccc; }
.review-detail-wrap .cont-review-detail .info-review-detail .review-desc { flex: 1; overflow-y: auto; margin-top: 16px; line-height: 21px; }

.review-detail-wrap .cont-review-detail .info-review-detail .review-thumbs-list { width: 100%; margin-top: 48px; align-self: flex-end; }
.review-detail-wrap .cont-review-detail .info-review-detail .review-thumbs-list .photo-item { display: inline-block; position: relative; overflow: hidden; width: 80px; height: 80px; padding-top:0; cursor: pointer; border-radius: 4px; background: #eee; vertical-align: top; }
.review-detail-wrap .cont-review-detail .info-review-detail .review-thumbs-list .photo-item ~ .photo-item { margin-left: 8px; }
.review-detail-wrap .cont-review-detail .info-review-detail .review-thumbs-list .photo-item .btn-thumbs:after {
    z-index: 2;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 4px;
}


.review-detail-wrap .cont-review-detail .info-review-detail .review-thumbs-list .photo-item.is-active .btn-thumbs:after {
    border-color: #000;
    transition: all 0.25s ease-in-out;
}

.review-detail-wrap .cont-review-detail .info-review-detail .review-like-wrap { width: 100%; align-self: flex-end; margin-top: 12px; }

.review-detail-wrap .review-control-wrap [class*=btn-review-] { z-index: 5; position: fixed; top: 50%; margin-top: -52px; }
.review-detail-wrap .review-control-wrap [class*=btn-review-][disabled] { opacity: 0.5; pointer-events: none; }
.review-detail-wrap .review-control-wrap .btn-review-prev { left: 50%; margin-left: -523px;  }
.review-detail-wrap .review-control-wrap .btn-review-next { right: 50%; margin-right: -523px; }

.brand-result-wrap { position: relative; margin-bottom: 52px; }
.brand-result-wrap .brand-list { width: 100%; }
.brand-result-wrap .brand-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.brand-result-wrap .brand-item { flex: 1 1 470px; }
.brand-result-wrap .brand-item ~ .brand-item { margin-left: 12px; }

.brand-result-wrap.is-swiper .brand-item {flex: none; width: 470px; margin-right: 12px; }
.brand-result-wrap.is-swiper .brand-item ~ .brand-item { margin-left: 0; }
.brand-result-wrap.is-swiper .brand-item:last-child { margin-right: 0; }
.brand-result-wrap .brand-box { flex: 1; width: 50%; overflow: hidden; background: #fafafa; border: 1px solid #e5e5e5; border-radius: 6px; }
.brand-result-wrap .brand-box a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px 22px;
}
.brand-result-wrap .brand-box .brand-name { overflow: hidden; font-size: 15px; font-weight: 700; letter-spacing: -1px; line-height: 18px; word-break: keep-all; word-wrap: break-word; }
.brand-result-wrap .brand-box .brand-link { display: block; font-size: 13px; letter-spacing: -1px; color: #333; }
.brand-result-wrap .brand-box .brand-link:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../images/search/ico_brand_link_arr.svg) 0 0/100% no-repeat;
    margin: 6px 0 0 4px;
    vertical-align: top;
}
.brand-result-wrap .swiper-control-wrap { display: none; position: absolute; top: -55px; right: 0; font-size: 0; }
.brand-result-wrap .swiper-control-wrap .swiper-button-prev, .brand-result-wrap .swiper-control-wrap .swiper-button-next {
    z-index: 2;
    position: relative;
    display: inline-block;
    font-size: 13px;
    width: 34px;
    height: 34px;
    transform: none;
    border: 1px solid #cbccce;
    background: #fff;
}
.brand-result-wrap .swiper-control-wrap .swiper-button-prev.swiper-button-disabled,
.brand-result-wrap .swiper-control-wrap .swiper-button-next.swiper-button-disabled { z-index: 1; opacity: 0.5; }
.brand-result-wrap .swiper-control-wrap .swiper-button-prev{border-radius: 4px 0 0 4px;margin-right: -1px;}
.brand-result-wrap .swiper-control-wrap .swiper-button-next{border-radius: 0 4px 4px 0; right: 0;}
.brand-result-wrap .swiper-control-wrap .swiper-button-next:before,
.brand-result-wrap .swiper-control-wrap .swiper-button-prev:before { left: 50%; transform: translate(-50%,-50%); }
.brand-result-wrap .swiper-control-wrap .swiper-button-next:before{width: 20px; height: 20px;}
.brand-result-wrap .swiper-control-wrap .swiper-button-prev:before{width: 16px; height: 16px;}
.brand-result-wrap .swiper-control-wrap .swiper-button-next:before{background-image: url('../images/ui/ui_bico_swiper_next_sm.svg');}
.brand-result-wrap .swiper-control-wrap .swiper-button-prev:before{background-image: url('../images/ui/ui_bico_swiper_prev_sm.svg');}

.related-keyword-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 11px;
    padding-bottom: 12px;
    margin-bottom: 55px;
    border-bottom: 1px solid #eee;
}
.related-keyword-wrap .sctitle { width: 88px; padding-right: 22px; margin-top: 9px; margin-bottom: 0; font-size: 14px; line-height: 21px; letter-spacing: -1px; color: #000; }
.related-keyword-wrap .keyword-list-wrap {
    overflow: hidden;
    flex: 1;
    width: 776px;
    font-size: 0;
    height: 40px;
}
.related-keyword-wrap .keyword-list-wrap .keyword-list { display: inline-block; max-width: 100%; }
.related-keyword-wrap.is-active .keyword-list-wrap { height: auto; }
.related-keyword-wrap .keyword-list-wrap .keyword { display: inline-block; padding: 4px; max-width: 100%; }
.related-keyword-wrap .keyword-list-wrap .btn-word {
    overflow: hidden;
    display: block;
    width: auto;
    max-width: 100%;
    padding: 7px 12px 8px;
    background: #edf6fd;
    border: 1px solid #dbedfb;
    font-size: 13px;
    color: #333;
    line-height: 15px;
    border-radius: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.related-keyword-wrap .btn-more-fold { width: 106px; margin-top: 10px; text-align: right; }
