@charset "utf-8";
/*
 * 파일정의 : icon.css
 * 파일설명 : icon css
 * 작성자 : 정은혜
 * 주의사항 : 주석표기는 페이지 접근방법을 알수 있도록 표시
 * 최초작성일: 2021/04/09
 * 최종수정일: 2021/04/09
 */

[class*=ico-] { display: inline-block; background-repeat: no-repeat; background-position: 0 0; vertical-align: top;}

/**********************************************************************************
** header icon
***********************************************************************************/
.header-wrapper .util [class*=btn-header-] [class*=ico-header-] { width: 36px; height: 36px; background-repeat: no-repeat; background-position: 0 0; }
.ico-header-profile {background-image: url(../images/common/comm_bico_profile.svg); }
.ico-header-cs {background-image: url(../images/common/comm_bico_cs.svg); }
.ico-header-cart {background-image: url(../images/common/comm_bico_cart.svg); }
.ico-brand-search, .ico-header-search { width: 32px; height: 32px; background: url(../images/common/comm_bico_search_32.svg) center no-repeat; }
.header-wrapper.sps-blw .ico-header-search { width: 28px; height: 28px; background-image: url(../images/common/comm_bico_search_28.svg); }

.header-wrapper .ranking-rolling .word-link .ico{background-repeat: no-repeat; background-position: center; }
.header-wrapper .ranking-rolling .word-link .ico.up{background-image: url('../images/common/comm_ico_rank_up.svg');}
.header-wrapper .ranking-rolling .word-link .ico.down{background-image: url('../images/common/comm_ico_rank_down.svg');}
.header-wrapper .ranking-rolling .word-link .ico.equal{background-image: url('../images/common/comm_ico_rank_equal.svg');}
.header-wrapper .ranking-rolling .word-link .ico.new{background-image: url('../images/common/comm_ico_rank_new.svg');}

.header-wrapper .ranking-layer-content .fold-title .ico{background-repeat: no-repeat; background-position: center; }
.header-wrapper .ranking-layer-content .fold-title .ico.up{background-image: url('../images/common/comm_ico_lg_rank_up.svg');}
.header-wrapper .ranking-layer-content .fold-title .ico.down{background-image: url('../images/common/comm_ico_lg_rank_down.svg');}
.header-wrapper .ranking-layer-content .fold-title .ico.equal{background-image: url('../images/common/comm_ico_lg_rank_equal.svg');}
.header-wrapper .ranking-layer-content .fold-title .ico.new{background-image: url('../images/common/comm_ico_lg_rank_new.svg');}

.ico-list-all{width:32px;height:32px; background-image: url(../images/search/bico_list_all.svg);}

/**********************************************************************************
** common
***********************************************************************************/
.ico-badge-onair { width: 46px; height: 18px; background-image: url('../images/common/comm_badge_onair.svg'); }
.ico-play-onair { width: 34px; height: 34px; background-image: url('../images/common/comm_play_onair.svg'); }
.ico-go-top { width: 12px; height: 12px; background-image: url('../images/common/comm_go_top.svg'); }

.ico-paging-next { width: 12px; height: 12px; background-image: url('../images/common/comm_bico_paging_next.svg'); }
.ico-paging-prev { width: 12px; height: 12px; background-image: url('../images/common/comm_bico_paging_prev.svg'); }

.ico-like{width: 16px; height: 16px; background-image: url('../images/product/ico_review_like.svg');}
.btn-review-like.is-active .ico-like{background-image: url('../images/product/ico_review_like_on.svg');}

.ico-alarm-sm { width: 16px; height: 16px; background-image: url('../images/product/bico_alarm_16.svg');}
.btn-xsm.is-active .ico-alarm-sm{background-image: url('../images/product/bico_alarm_16_on.svg');}

/**********************************************************************************
** text icon
***********************************************************************************/
.ico-nodata{width: 100px; height: 100px; background-image: url('../images/common/comm_ico_nodata.svg');}
/*.ico-noresult{width: 56px; height: 56px; background-image: url('../images/common/comm_ico_noresult.png');}*/

.ico-channel{width: 16px; height: 16px; background-image: url('../images/main/ico_channel.svg');}
.btn-view-type.thumbnail .ico-view-type{width: 16px; height: 16px; background-image: url('../images/common/comm_bico_view_type_thumbnail.png');}
.btn-view-type.thumbnail.is-active .ico-view-type{background-image: url('../images/common/comm_bico_view_type_thumbnail_on.png');}
.btn-view-type.list .ico-view-type{width: 16px; height: 16px; background-image: url('../images/common/comm_bico_view_type_list.svg');}
.btn-view-type.list.is-active .ico-view-type{background-image: url('../images/common/comm_bico_view_type_list_on.svg');}
.ico-refresh{width: 16px; height: 16px; background-image: url('../images/common/comm_bico_refresh.svg');}

.ico-view-arr{width: 10px; height: 10px; background-image: url('../images/common/comm_bico_flink_arr.svg');}

/**********************************************************************************
** button icon
***********************************************************************************/
.ico-coupon-download{width: 20px; height: 20px; background-image: url('../images/common/comm_bico_coupon_download.svg');}
.ico-coupon-download-sm{width: 16px; height: 16px; background-image: url('../images/common/comm_bico_coupon_download_sm.svg');}
.ico-coupon-download-lg{width: 24px; height: 24px; background-image: url('../images/common/comm_bico_coupon_download_lg.svg');}
.ico-lock {width: 16px; height: 16px; background-image: url('../images/product/ico_lock.svg');}


/**********************************************************************************
** etc
***********************************************************************************/
.ico-on-air{width: 84px; height: 36px; background-image: url('../images/main/badge_onair_lg.svg');}
.ico-winning{width: 50px; height: 50px; background-image: url('../images/event/ico_winning.svg')}
.ico-non-winning{width: 50px; height: 50px; background-image: url('../images/event/ico_non_winning.svg')}
