@charset "utf-8";
/*
 * 파일정의 : popup.css
 * 파일설명 : popup css
 * 작성자 :  정은혜
 * 주의사항 : 주석표기는 페이지 접근방법을 알수 있도록 표시
 * 최초작성일: 2021/05/03
 * 최종수정일: 2021/05/03
 -
*/

/**********************************************************************************
** toast message
***********************************************************************************/
.toast-wrap{display: none; opacity: 0; position: fixed; left: 0; right: 0; bottom: 50px; z-index: 999; font-size: 0; text-align: center;}
.toast-wrap.is-active{display: block; animation: toastAnimation 3s forwards; -webkit-animation: toastAnimation 3s forwards;}
.toast-wrap .toast-message{display: inline-block; max-width: 380px; min-height: 60px; padding: 19px 30px 22px; border-radius: 40px; background: rgba(0, 0, 0, .8); font-size: 15px; color: #fff; line-height: 20px; text-align: center; vertical-align: top;}

@keyframes toastAnimation {
	0% {
		opacity: 0;
	}

	15% {
		opacity: 1;
	}

	85% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/**********************************************************************************
** common
***********************************************************************************/
/* main slide popup */
.ui-dialog.dialog-main{min-width: 420px; border-radius: 6px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
}
.ui-dialog.dialog-main .ui-dialog-content{border-radius: 6px; padding: 0; overflow: hidden; background: transparent;}
.ui-dialog.dialog-main .ui-dialog-content .pop-contents{padding-bottom: 0; overflow-y: hidden;}
.ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-wrapper .swiper-slide{}
.ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-wrapper .swiper-slide a,
.ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-wrapper .swiper-slide a img{display: block; width: 100%;}
.ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-button-next, .ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-button-prev{top: 50%; width: 50px; height: 50px; margin-top: 0; transform: translateY(-50%); background: url('../images/main/ui_main_swiper_prev.svg') 0 0 / 100% no-repeat;}
.ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-button-prev:before, .ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-button-next:before{content: none;}
.ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-button-prev{left: 12px;}
.ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-button-next{right: 12px; background: url('../images/main/ui_main_swiper_next.svg') 0 0 no-repeat;}
.ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-button-next.swiper-button-disabled, .ui-dialog.dialog-main .ui-dialog-content .pop-contents .swiper-button-prev.swiper-button-disabled{opacity: .2;}
.ui-dialog.dialog-main .ui-dialog-content .pop-bottom{display: flex; margin-top: 0; padding: 0; border-radius: 0 0 6px 6px;}
.ui-dialog.dialog-main .ui-dialog-content .pop-bottom [class*=btn-]{flex: 1; height: 50px; padding-bottom: 0; padding-top: 1px; border-color: #fff; background-color: #fff; font-size: 15px; line-height: 21px; letter-spacing: -1px; color: #777;}
.ui-dialog.dialog-main .ui-dialog-content .pop-bottom [class*=btn-] + [class*=btn-]{position: relative; margin-left: 0;}
.ui-dialog.dialog-main .ui-dialog-content .pop-bottom [class*=btn-] + [class*=btn-]:before{content: ''; position: absolute; top: 50%; left: 0; width: 1px; height: 14px; background: #e5e5e5; transform: translateY(-50%);}


/* 플로팅 popup */
.ui-dialog-container.open.floating{display: block; width: 250px; height: 250px; left: auto; right: 0; top: auto; bottom: 30px;}
.ui-dialog-container.floating .ui-dialog-container-inner{min-height: auto; display: block; transform: none;}
.ui-dialog-container.floating .ui-dialog{min-width: auto; width: 100% !important; height: 100% !important; margin: 0; background: none;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content{padding: 0;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-header{display: none;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents{flex: 0 1 auto; padding: 10px; height: 100%; background: transparent; overflow: hidden;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents .floating-link{display: block; width: 230px; height: 230px; border-radius: 140px; box-shadow: -1px 1px 10px rgba(0, 0, 0, .3);}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents .floating-link .inner{display: block; height: 100%; overflow: hidden; border-radius: 140px;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents .floating-link img{display: block; width: 100%; height: 100%;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents .floating-banner-box .floating-link{background-color: #6f48ee;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents .floating-banner-box .img-box {display: block; width: 148px; height: 116px; margin: 22px auto 0;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents .floating-banner-box .banner-title-box {display: block; margin-top: 6px;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents .floating-banner-box .banner-title-box .title {display: block; font-size: 28px; font-weight: 700; color: #fff; letter-spacing: -1px; text-align: center; line-height: 1;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .pop-contents .floating-banner-box .banner-title-box .desc {display: block; margin-top: 4px; font-size: 14px; color: #fff; text-align: center;}
.ui-dialog-container.floating .ui-dialog .ui-dialog-content .btn-pop-close{top: 24px; right: 20px; background: #fff url('../images/main/bico_floating_close.svg') 0 0 no-repeat; width: 40px; height: 40px; border-radius: 100%; box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);}

/* 방송 알림 신청 popup */
.onair-alarm-box .prod-item.horizontal{margin-bottom: 32px;}
.onair-alarm-box .prod-item.horizontal .img-box{width: 90px; height: 90px;}
.onair-alarm-box .prod-item.horizontal .info-box{padding: 5px 0;}
.onair-alarm-box .prod-item.horizontal .prod-name{line-height: 22px; max-height: 44px;}
.onair-alarm-box .form-wrap .form-box .form-title{font-weight: 700; font-size: 17px; line-height: 23px;}
.onair-alarm-box .form-wrap .form-box .form-cont{margin-top: 14px;}
.onair-alarm-box .form-wrap .form-box + .form-box{margin-top: 29px;}
.onair-alarm-box .form-wrap .form-box.horizontal .form-cont{margin-top: 0;}

/* 채널 안내 */
.pop-channel-info{ box-sizing: border-box;}
.pop-channel-info .tab-content{margin-top: 10px; height: 634px; overflow-y: auto; }
.pop-channel-info .channel-list{position: relative; font-size: 0;}
.pop-channel-info .channel-list .list-item{display: inline-block; width: 25%; padding: 16px 0; vertical-align: top;}
.pop-channel-info .channel-list .list-item:nth-child(4n+1):before{content: ''; display: block; position: absolute; left: 0; width: 100%; height: 1px; background: #eee; transform: translateY(-16px);}
.pop-channel-info .channel-list .list-item:first-child:before{content: none;}
.pop-channel-info .channel-list .list-item .img-box{display: block; text-align: center;}
.pop-channel-info .channel-list .list-item .channel-num{display: block; margin-top: 4px; font-size: 14px; color: #333; text-align: center;}


/* 검색 상품후기, 상품상세 상품평 포토상품 */
.pop-contents .review-photo-list:not(.swiper-container) { height: 450px; margin-bottom: 0; }
.pop-contents .review-photo-list:not(.swiper-container) .photo-item{width: 146px; margin-right: 6px;}
.pop-contents .review-photo-list:not(.swiper-container) .photo-item:nth-child(5n){margin-right: 0;}
.pop-contents .review-photo-list:not(.swiper-container) .photo-item:nth-child(n+6){margin-top: 6px;}


/* 브랜드찾기 */
.brand-search-wrap .filter-search-box {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 500px;
    padding-right: 16px;
    margin: 0 auto;
    background: #f5f5f5;
    border-radius: 48px;
}
.brand-search-wrap .filter-search-box .btn-brand-search { margin-top: 7px; width: 32px; height: 32px; }
.brand-search-wrap .filter-search-box .input-wrap { flex: 1; }
.brand-search-wrap .filter-search-box .input-wrap .ui-input { padding-left: 24px; border: 0; background: transparent; transition: none; -webkit-transition: none; }
.brand-search-wrap .filter-search-box .input-wrap .btn-ip-clear { right: 0; }
.brand-search-wrap .filter-search-box { margin-bottom: 25px; }
.brand-search-wrap .tab-content { overflow-y: auto; height: 381px; padding: 17px 0; border-bottom: 1px solid #eee; }

/* 앱다운로드 */
.pop-appdownload-sub .pop-desc{padding: 6px 0;}
.pop-appdownload-sub .input-wrap{margin-top: 16px;}

/* 쇼마트 장바구니 */
.ui-dialog .ui-dialog-content.pop-showmart-option .pop-contents{overflow: visible;}
.pop-showmart-option .showmart-prod-banner{height: 280px; background: #e5e5e5; border-radius: 6px;}
.pop-showmart-option .showmart-prod-banner .swiper-container{height: 100%; overflow: hidden; border-radius: 6px;}
.pop-showmart-option .showmart-prod-banner.outside-nav.size-xsm .swiper-button-prev,
.pop-showmart-option .showmart-prod-banner.outside-nav.size-xsm .swiper-button-next{top: 50%; transform: translateY(-50%); border-radius: 4px;}
.pop-showmart-option .showmart-prod-banner.outside-nav.size-xsm .swiper-button-prev{left: -14px; border-right: 1px solid #cbccce;}
.pop-showmart-option .showmart-prod-banner.outside-nav.size-xsm .swiper-button-next{right: -14px;}
.pop-showmart-option .showmart-prod-banner.outside-nav.size-xsm .swiper-slide{margin-right: 0;}
.pop-showmart-option .showmart-prod-banner .swiper-slide .prod-link{position: relative; display: block; height: 100%;}
.pop-showmart-option .showmart-prod-banner .swiper-slide .prod-link img{position: absolute; top: 50%; left: 0; display: block; width: 100%; transform: translateY(-50%);}
.pop-showmart-option .option-detail-box{margin-top: 16px;}
.pop-showmart-option .option-detail-box .ui-chk{margin-top: 12px;}
.pop-showmart-option .option-detail-box .select-option-box{overflow-y: auto; max-height: 179px; margin-top: 16px;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item{position: relative; padding: 20px; border-radius: 6px; background-color: #fafafa;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item ~ .list-item{margin-top: 8px;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item .option-title{display: block; /* Fallback for non-webkit */ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-clamp: 2; text-overflow: -o-ellipsis-lastline; white-space: normal; height: 40px; font-size: 14px; line-height: 20px; color: #333; letter-spacing: -1px;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item .option-info{display: flex; justify-content: space-between; align-items: center; margin-top: 16px;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item .option-info .number-count{width: 106px;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item .option-info .prod-price{font-size: 0; line-height: 1;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item .option-info .prod-price .val{font-size: 20px; font-weight: 700; color: #333;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item .option-info .prod-price .unit{font-size: 12px; color: #333;}
.pop-showmart-option .option-detail-box .select-option-box .option-list .list-item .btn-option-delete{position: absolute; top: 7px; right: 7px; display: block; width: 30px; height: 30px; background: url('../images/ui/ui_bico_delete_option.svg') center no-repeat;}
.ui-dialog.dialog-sm .ui-dialog-content.pop-showmart-option .pop-bottom{display: block; margin-top: 0;}
.pop-showmart-option .order-price-total{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 13px 0 25px; width: 100%; }
.pop-showmart-option .order-price-total .total-count{display: block; padding-top: 1px; font-size: 15px; color: #000;}
.pop-showmart-option .order-price-total .total-count .val{color: #c80064; font-weight: 700;}
.pop-showmart-option .order-price-total .total-price{font-size: 0; line-height: 1;}
.pop-showmart-option .order-price-total .total-price .val,
.pop-showmart-option .order-price-total .total-price .unit{display: inline-block; vertical-align: top;}
.pop-showmart-option .order-price-total .total-price .val{font-size: 24px; font-weight: 700; color: #f50d87;}
.pop-showmart-option .order-price-total .total-price .unit{margin-top: 6px; font-size: 15px;}


/* 쿠폰받기 */
.pop-coupon-download .atctitle{text-align: center;}
.pop-coupon-download .coupon-list .list-item ~ .list-item{margin-top: 38px;}
.pop-coupon-download .coupon-list .coupon-item{overflow: hidden; display: flex;}
.pop-coupon-download .coupon-list .coupon-item .coupon-inner{overflow: hidden; flex: 1; display: flex; flex-direction: column; justify-content: center; border: 1px solid #ccc; border-right: none; border-radius: 4px 0 0 4px; height: 142px; padding: 0 25px;}
.pop-coupon-download .coupon-list .coupon-item .coupon-inner .coupon-label{margin-bottom: 8px;}
.pop-coupon-download .coupon-list .coupon-item .coupon-inner .coupon-label .label{display: inline-block; min-width: 45px; height: 18px; padding: 0 3px 0 2px; border: 1px solid rgba(85, 85, 85, .3); border-radius: 3px; font-size: 11px; font-weight: 700; color: #555; letter-spacing: -0.5px; vertical-align: top; line-height: 16px; text-align: center;}
.pop-coupon-download .coupon-list .coupon-item .coupon-inner .coupon-title{overflow: hidden; font-size: 15px; font-weight: 700; letter-spacing: -1.07px; text-overflow: ellipsis; white-space: nowrap;}
.pop-coupon-download .coupon-list .coupon-item .coupon-inner .coupon-val {margin-top: 8px; font-size: 0; font-weight: 700; line-height: 1; color: #f50d87}
.pop-coupon-download .coupon-list .coupon-item .coupon-inner .coupon-val .val{font-size: 38px;}
.pop-coupon-download .coupon-list .coupon-item .coupon-inner .coupon-val .unit{font-size: 15px; }
.pop-coupon-download .coupon-list .coupon-item .btn-download{width: 70px; background-color: #f50d87; border-radius: 0 4px 4px 0; font-size: 13px; font-weight: 700; color: #fff;}
.pop-coupon-download .coupon-list .coupon-item .btn-download .ico-download{display: block; width: 24px; height: 24px; margin: 0 auto 4px; background-image: url('../images/common/comm_bico_download_lg_white.svg');}
.pop-coupon-download .coupon-list .coupon-item .btn-download .text{margin: 0;}
.pop-coupon-download .coupon-list .coupon-item .btn-download[disabled]{background-color: #fafafa; border: 1px solid #ccc; border-left: none;}
.pop-coupon-download .coupon-list .coupon-item .btn-download[disabled] .ico-download{background-image: url('../images/common/comm_bico_download_lg_white_dim.svg');}
.pop-coupon-download .coupon-list .coupon-item .btn-download[disabled] .text{color: #ccc;}
.pop-coupon-download .coupon-list .coupon-info{margin-top: 10px;}
.pop-coupon-download .coupon-list .coupon-info .coupon-condition{color: #555;}
.pop-coupon-download .coupon-list .coupon-info .dot-text ~ .dot-text{margin-top: 4px;}

/* 제휴할인 */
.alliance-logo{height: 32px; margin-bottom: 16px;}
.alliance-logo img{display: block; margin: 0 auto; height: 100%;}
.coupon-wrap{width: 242px; margin: 0 auto;}
.coupon-wrap .coupon-item-sm{overflow: hidden; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 122px; background: url('../images/common/comm_bg_coupon_item_sm.svg');}
.coupon-wrap .coupon-item-sm .coupon-title{overflow: hidden; display: block; max-width: 100%; font-size: 15px; font-weight: 700; white-space: nowrap; text-overflow: ellipsis;}
.coupon-wrap .coupon-item-sm .coupon-val{margin-top: 8px; font-size: 0; font-weight: 700; color: #f6399c; line-height: 1;}
.coupon-wrap .coupon-item-sm .coupon-val .val{font-size: 34px;}
.coupon-wrap .coupon-item-sm .coupon-val .unit{font-size: 15px;}
.coupon-wrap .coupon-info{margin-top: 10px; text-align: left;}
.coupon-wrap .coupon-info .coupon-condition{color: #555;}
.coupon-wrap .coupon-info .dot-text ~ .dot-text{margin-top: 6px;}
.coupon-wrap .btn-wrap{margin-top: 16px;}

/* 묶음배송 */
.prod-select-list{border-top: none;}
.prod-select-list .list-item{border-bottom: 1px solid #eee; padding: 16px 0;}
.prod-select-list .list-item:first-child{padding-top: 0;}
.prod-select-list .list-item:last-child{border-bottom: none; padding-bottom: 0;}
.prod-select-list .list-item .prod-item .img-box{width: 80px; height: 80px; border-radius: 4px;}
.prod-select-list .list-item .prod-item .img-box.sold-out .sold-out-msg{height: 26px; line-height: 26px;}
.prod-select-list .list-item .prod-item .info-box{margin-left: 20px;}
.prod-select-list .list-item .prod-item .info-box .prod-name{font-size: 14px; line-height: 18px; max-height: 36px;}
.prod-select-list .list-item .prod-item .info-box .prod-name .opt{font-weight: 700;}
.prod-select-list .list-item .prod-item .info-box .prod-price{margin-top: 12px;}
.prod-select-list .list-item .prod-item .info-box .prod-price .val{font-size: 18px;}
.prod-select-list .list-item .prod-item .info-box .prod-price .unit{margin-top: 0; font-size: 14px;}
.prod-select-list .list-item .prod-item .info-box .prod-review{margin-top: auto;}

/* 상품평 작성하기 */
.ui-dialog-content.review .prod-item.horizontal .img-box{width: 60px; height: 60px; border-radius: 4px;}
.ui-dialog-content.review .prod-item.horizontal .prod-name{font-size: 14px; line-height: 19px; max-height: 38px;}
.ui-dialog-content.review .prod-item.horizontal .prod-name .opt{font-weight: 700;}
.ui-dialog-content.review .prod-item.horizontal .prod-option{margin-top: 4px;}

.ui-dialog-content.review .prod-save-guide{display: flex; height: 50px; align-items: center; justify-content: center; margin-top: 24px; padding: 0 15px; background-color: #f4f9fd; border-radius: 6px; font-size: 14px; line-height: 18px; text-align: center; color: #1286e0;}
.ui-dialog-content.review .rating-box{margin-top: 26px; text-align: center;}
.ui-dialog-content.review .rating-box .rating-val{display: block; margin-top: 9px; font-size: 0;}
.ui-dialog-content.review .rating-box .rating-val .val,
.ui-dialog-content.review .rating-box .rating-val .total{display: inline-block; font-size: 28px; color: #000; line-height: 1; vertical-align: top;}
.ui-dialog-content.review .rating-box .rating-val .val{font-weight: 700;}
.ui-dialog-content.review .rating-box .rating-val .total:before{content: '/'; display: inline-block; margin: 0 8px; font-size: 18px; vertical-align: top; line-height: 28px;}
.ui-dialog-content.review .byte-check-wrap{margin-top: 16px;}
.ui-dialog-content.review .info-text-list{margin-top: 32px;}
.ui-dialog-content.review .review-notice-box{margin: 0;}
.ui-dialog-content.review .attached-title{margin: 30px 0 16px; font-size: 16px; font-weight: 700; letter-spacing: -1px;}
.ui-dialog-content.review .attached-title .desc{font-size: 14px; font-weight: 400; color: #999;}
.ui-dialog-content.review .atctitle{padding-top: 0;}

.ui-dialog-content.review.pop-prod-review-star .review-notice-box{margin-top: 24px;}

.review-notice-box{display: flex; align-items: center; justify-content: center; margin: 25px 16px; padding: 20px 16px 18px; background-color: #fafafa; border: 1px solid #e5e5e5; border-radius: 6px;}
.review-notice-box:before{content: ''; flex-shrink: 0; display: inline-block; width: 32px; height: 32px; margin-right: 12px; background: url('../images/product/ico_review_notice.svg') 0 0 no-repeat; vertical-align: top;}
.review-notice-box .notice-desc{font-size: 13px; color: #555; line-height: 16px;}

/* 상품 문의하기 */
.pop-prod-qna .prod-item.horizontal{margin-bottom: 24px;}
.pop-prod-qna .prod-item.horizontal .img-box{width: 60px; height: 60px; border-radius: 4px;}
.pop-prod-qna .prod-item.horizontal .img-box{width: 60px; height: 60px; border-radius: 4px;}
.pop-prod-qna .prod-item.horizontal .info-box .prod-name{font-size: 14px; line-height: 19px; max-height: 38px;}
.pop-prod-qna .prod-item.horizontal .info-box .prod-option{margin-top: 4px;}
.pop-prod-qna .ui-col-list{margin-top: 16px;}
.pop-prod-qna .ui-col-list .ui-chk .fc-gray{color: #999;}
.pop-prod-qna .info-text-list{margin-top: 32px;}

/* 딜상품 상품정보 */
.ui-dialog.dialog-deal-detail{min-width: 1168px; color: #000;}
.ui-dialog.dialog-deal-detail .ui-dialog-content .pop-header{margin-bottom: 0; border-bottom: none;}
.ui-dialog.dialog-deal-detail .ui-dialog-content .pop-contents{display: flex; width: 100%; overflow: hidden;}

.ui-dialog.dialog-deal-detail .deal-prod-detail{flex: 1; overflow-y: scroll; padding-right: 10px; border-top: 1px solid #eee;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap{padding: 25px 15px 24px; border-bottom: 1px solid #eee;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap .prod-item{position: relative; width: 80px; height: 80px; margin: 0 10px 0 0; border-radius: 4px; border: 1px solid #ccc; transition: border-color .23s;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap .prod-item:last-child{margin-right: 0;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap .prod-item .img-box{width: 100%; height: 100%; border-radius: 4px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap .prod-item .img-box.sold-out .sold-out-msg{height: 21px; line-height: 21px; font-size: 11px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap .prod-item.is-active{border-color: #000;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap .prod-item .prod-num{position: absolute; top: 0; left: 0; min-width: 20px; height: 18px; font-size: 11px; color: #fff; background-color: rgba(0, 0, 0, .5); border-radius: 4px 0 4px 0; z-index: 2; text-align: center;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap.outside-nav.size-xsm .swiper-button-prev,
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap.outside-nav.size-xsm .swiper-button-next{top: 50%; transform: translateY(-50%); border-radius: 4px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap.outside-nav.size-xsm .swiper-button-prev{left: 0; border-right: 1px solid #cbccce}
.ui-dialog.dialog-deal-detail .deal-prod-detail .deal-prod-wrap.outside-nav.size-xsm .swiper-button-next{right: 0;}

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item{margin-top: 24px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .img-box{width: 240px; height: 240px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box{margin-left: 24px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-header{margin-bottom: 16px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-header .prod-num{display: inline-block; min-width: 53px; height: 28px; margin: 0; padding: 7px 5px 0; border: 1px solid #e5e5e5; background-color: #f5f5f5; border-radius: 4px; font-size: 13px; font-weight: 400; color: #333; line-height: 1; vertical-align: top; text-align: center;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .review-rating-box { margin-bottom: 11px; font-size: 0; line-height: 20px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .review-rating-box .rating-container .rating-stars .star ~ .star{margin-left: 1px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .review-rating-box .rating-val { display: inline-block; margin-left: 8px; font-size: 15px; color: #333; font-weight: 700; vertical-align: top; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .review-rating-box .review-count { display: inline-block; margin-left: 5px; font-size: 15px; color: #999; vertical-align: top; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-name{overflow: hidden; max-height: 60px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-clamp: 2; text-overflow: -o-ellipsis-lastline; white-space: normal; font-size: 22px; line-height: 30px; color: #000; letter-spacing: -1px; word-break: keep-all; word-wrap: break-word;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-desc{margin-top: 16px; font-size: 18px; font-weight: 700; line-height: 22px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price{display: flex; justify-content: space-between; margin-top: 8px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info{font-size: 0;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price{display: inline-block; vertical-align: top; font-size: 0;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price .percent{display: inline-block; margin-right: 8px; font-size: 0; font-weight: 700; color: #f50d87; vertical-align: top; line-height: 44px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price .percent .val,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price .percent .unit { display: inline-block; vertical-align: top; font-weight: 700; font-size: 30px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .price-normal,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price .price{display: inline-block; vertical-align: top; font-size: 0; line-height: 44px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .price-normal .val,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .price-normal .unit,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price .price .val,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price .price .unit {display: inline-block; vertical-align: top; font-size: 30px; font-weight: 700;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .price-normal .unit,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price .price .unit {font-size: 18px; font-weight: 600;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price.ui-tooltip-wrap .cont-tooltip{top: 54px;}

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .btn-guide{margin: 16px 0 0 4px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price ~ .price-normal{display: block; font-weight: 700; line-height: 1; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price ~ .price-normal .val{font-size: 16px; color: #ccc; text-decoration: line-through;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .price-info .discount-price ~ .price-normal .unit{margin-top: 1px; font-size: 13px; color: #ccc; text-decoration: line-through;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .btn-coupon-download{flex-shrink: 0; display: inline-block; min-width: 120px; height: 36px; margin: 6px 0; padding: 7px 7px 8px; border: 1px solid #777; border-radius: 6px; font-size: 0; vertical-align: top; text-align: center; transition: background-color 0.23s, color 0.23s, border-color 0.23s; -webkit-transition: background-color 0.23s;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .btn-coupon-download:active,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .btn-coupon-download:focus,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .btn-coupon-download:hover {background-color: #f3f3f3;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .btn-coupon-download .text{display: inline-block; font-size: 14px; color: #333; letter-spacing: -1px; vertical-align: top;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-price .btn-coupon-download .ico-coupon-download-sm { margin-top: 1px; margin-left: 4px; }

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom{ display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; margin-top: 6px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .badge-relay{display: inline-block; font-size: 13px; color: #333; margin-right: 8px; padding-top: 7px; vertical-align: top; letter-spacing: -1px; line-height: 18px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .badge-relay:before{content: ''; display: inline-block; width: 16px; height: 14px; margin-right: 4px; margin-top: 1px; background: url('../images/product/badge_relay.svg') 0 0 no-repeat; vertical-align: top;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-save {display: inline-block; padding-top: 7px; margin-top: 0; font-size: 0; vertical-align: top; line-height: 1;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-save .save-text,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-save .save-price .val,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-save .save-price .unit{display: inline-block; font-size: 13px; vertical-align: top; color: #1286e0; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-save .save-text{margin-right: 4px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-save .save-text:before{content: ''; display: inline-block; width: 13px; height: 15px; margin-right: 2px; margin-top: 0; background: url('../images/product/ico_save.svg') 0 0 / 100% no-repeat; vertical-align: top;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-save .save-price{font-size: 0; line-height: 1; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-save .save-price .val{font-weight: 700; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn { margin-left: auto; }

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn { font-size: 0; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn .btn-wish,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn .btn-share { content:''; display: inline-block; width: 32px; height: 32px; background-position: 0 0; background-size: 100%; background-repeat: no-repeat; font-size: 13px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn .btn-wish { transition: background 0.15s ease-in-out; background-image: url('../images/product/ico_prod_like.svg'); }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn .btn-wish.is-active { background-image: url('../images/product/ico_prod_like_on.svg'); }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn .btn-share {border: 0;background-image: url('../images/product/ico_prod_share.svg'); }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn .sns-share-wrap { margin-left: 12px; padding-left: 13px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-item .info-box .prod-info-bottom .prod-detail-btn .sns-share-wrap:before{content: ''; position: absolute; left: 0; top: 50%; display: inline-block; width: 1px; height: 20px; background-color: #e5e5e5; vertical-align: top; transform: translateY(-50%);}

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit { margin: 31px 0 30px; border-top: 1px solid #eee; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; padding: 19px 0 18px; min-height: 61px; border-bottom: 1px solid #eee;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-title { overflow: hidden; position: relative; width: 114px; font-size: 15px; line-height: 21px; padding-left: 30px; padding-top: 2px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-title:before { content:''; position: absolute; top: 0; left: 0; display: block; width: 24px; height: 24px; background-repeat: no-repeat; background-position: 0 0; background-size: 100%;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item.delivery .benefit-title:before { background-image: url('../images/product/ico_delivery.svg'); }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item.discount .benefit-title:before { background-image: url('../images/product/ico_prod_discount.svg'); }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item.interest .benefit-title:before { background-image: url('../images/product/ico_card.svg'); }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item.gift .benefit-title:before { background-image: url('../images/product/ico_gift.svg'); }

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail { flex: 1; font-size: 15px; line-height: 21px; color: #555; letter-spacing: -1px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .text-desc { color: #999; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .btn-guide { position: static; margin-top: 2px; margin-left: 4px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item.ui-tooltip-wrap .cont-tooltip { top: 53px; }

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item.delivery .benefit-detail .price { letter-spacing: 0; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item.delivery .link-prod-more { align-self: center; display: inline-block; font-size: 14px; color: #999; letter-spacing: -1px; text-decoration: underline;}

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item.delivery .link-prod-more:after { content: ''; display: inline-block; width: 12px; height: 12px; margin-top: 5px; margin-left: 4px; background: url(../images/product/ico_prod_link_more_arr.svg) 0 0 no-repeat; vertical-align: top;}

.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .gift-list { padding: 2px 0; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .gift-list .img-box { width: 60px; height: 60px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .gift-list li ~ li { margin-top: 20px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .gift-list .prod-item .info-box .prod-name { color: #555; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .gift-list .prod-item .info-box .prod-option { margin-top:2px; line-height: 17px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .gift-list .prod-item .info-box .prod-option .val,
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .gift-list .prod-item .info-box .prod-option .count { color: #777; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .dot-text { margin-top: 10px; font-size: 13px; }
.ui-dialog.dialog-deal-detail .deal-prod-detail .prod-detail-benefit .benefit-item .benefit-detail .dot-text .date {letter-spacing: 0;}

.ui-dialog.dialog-deal-detail .deal-prod-detail .notice-box{margin-bottom: 32px;}
.ui-dialog.dialog-deal-detail .deal-prod-detail .detail-info-box .editor-wrap img{max-width: 100%;}

.ui-dialog.dialog-deal-detail .deal-buy-wrap{display: flex; flex-direction: column; flex-shrink: 0; width: 336px; height: 705px; padding: 13px 0; margin-left: 30px; border: 1px solid #eee; border-radius: 10px;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-opt-wrap{overflow: hidden; flex: 1; display: flex; flex-direction: column;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-opt-wrap .prod-opt-select{padding: 0 16px 0 14px; margin-bottom: 4px;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-opt-wrap .prod-opt-selected{padding: 0 16px 0 14px;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-opt-selected{overflow-y: auto; flex: 1;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-total-wrap{display: flex; justify-content: space-between; padding: 5px 16px 15px 14px;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-total-wrap .total-count{font-size: 15px;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-total-wrap .total-count .val{font-weight: 700; color: #c80064;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-total-wrap .total-price{font-size: 0; line-height: 1; color: #000;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-total-wrap .total-price .val{font-size: 24px; font-weight: 700;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .prod-total-wrap .total-price .unit{font-size: 15px; vertical-align: 2px;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .btn-wrap{padding: 0 16px 0 14px;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .btn-wrap .btn-lg{min-width: auto; width: 100%; height: 50px;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .btn-wrap .btn-lg + .btn-lg{margin: 8px 0 0 0;}
.ui-dialog.dialog-deal-detail .deal-buy-wrap .sold-out-msg { margin: 0 16px 0 14px; padding: 14px 10px 13px; font-size: 17px; line-height: 23px; letter-spacing: -1px; color: #fff; background: #777; opacity: 0.5; text-align: center; border-radius: 8px; }
